* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
}

body {
    background: rgb(253, 205, 182);
    height: 1200px;
}

img {
    float: right;
    height: 110px;
    width: auto;
    margin-right: 20%;
    margin-top: -9%;
}

#CV {
    background: #d7d7d7;
    padding: 10px;
    text-align: center;
    border: 5px outset dimgray;
}

.contact {
    position: relative;
    right: 500px;
}

h2 {
    margin-left: 20%;
}

#moi {
    position: relative;
}

.presentation {
    background: #d7d7d7;
    text-align: left;
    padding-left: 5%;
}

.presentation p {
    float: right;
    margin-top: -50px;
    margin-right: 5%;
}

.pres {
    list-style-type: none;
}

h3 {
    margin-bottom: 20px;
    text-decoration-line: underline;
    font-size: 30px;
}

.scoform {
    width: 50%;
    float: left;
    margin-left: 10%;
}

.stage {
    margin-left: 50%;
    position: relative;
    top: -500px;
    left: 400px;
}

dd {
    text-indent: 30px;
}

dt {
    font-size: 20px ;
    font-weight: bold;
}

.pro {
    position: relative;
    left: -1000px;
    top: 700px;
    margin-bottom:50px;
}

.entreprise {
    text-indent: 25px;
    list-style-position: inside;
}

.competence {
    border: 3px outset dimgray;
    position: relative;
    top: 500px;
    display: inline-block;
    padding: 25px;
}

.form {
    border:3px outset dimgray;
    display: inline-block;
    padding: 10px;
    position: relative;
    top: 650px;
    left: -1000px;
}